html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.body_wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view_wrapper {
    width: 40%;
    height: 60%;
    border: solid 1px black;
}

.default_font {
    font-family: Roboto;
}

.tip_frame {
    position: absolute;
    left: 50px;
    top: 50px;
    padding: 6px;
    background: cornflowerblue;
}
