<!DOCTYPE html>
<html>
<head>
    <title>Filesystem viewer</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='stylesheet/index.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', path='stylesheet/filesystem_view.css') }}">
</head>
<body>
    <section class="body_wrapper">
        <section id="view_wrapper">
        </section>
    </section>
<script src="{{ url_for('static', path='scripts/index_bundle.js') }}"></script>
</body>
</html>